---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import error from "../images/error-404.png";
---

<MainLayout title="404 - Page Not Found">
  <div class="flex flex-col items-center justify-items-center gap-7">
    <Image src={error} alt="404 Error" class="w-[250px] h-[250px] mt-10" />
    <h1 class="texx-5xl">Page Not Found</h1>
    <p class="text-2xl mb-10">
      Sorry, the page you are looking for could not be found.
    </p>
    <a
      href="/"
      class="inline-block bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:text-white"
      >Go back home</a
    >
  </div>
</MainLayout>
